[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/openssl/openssl.git
[submodule "3rdparty/qthttpserver"]
	path = 3rdparty/qthttpserver
	url = https://github.com/qt/qthttpserver.git
[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/ioriayane/cpp-httplib.git
[submodule "1stparty/atproto"]
	path = 1stparty/atproto
	url = https://github.com/bluesky-social/atproto.git
