# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.prl
build/

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc


scripts/out/*
scripts/out_ex/*
.vscode/settings.json
encryption_seed.h
build-hagoromo
deploy-hagoromo
3rdparty/build-openssl
openssl/bin
openssl/certs
openssl/include
openssl/lib
openssl/lib64
openssl/misc
openssl/private
openssl/share
openssl/*.cnf
openssl/*.cnf.dist
zlib/bin
zlib/include
zlib/lib
zlib/share

.DS_Store

# Hugo
web/public/*
web/.hugo_build.lock
temp.html
