#ifndef {{ file_name_upper }}_H
#define {{ file_name_upper }}_H

#include "atprotocol/accessatprotocol.h"
#include "atprotocol/lexicons.h"

namespace AtProtocolInterface {

class {{ class_name }} : public AccessAtProtocol
{
public:
    explicit {{ class_name }}(QObject *parent = nullptr);

    void {{ method_name }}({{ method_args }});

private:
    virtual void parseJson(const QString reply_json);
};

}

#endif // {{ file_name_upper }}_H
