#include "{{ file_name_lower }}.h"
#include "atprotocol/lexicons_func.h"

#include <QJsonDocument>
#include <QJsonObject>
{%- if access_type == "get" %}
#include <QUrlQuery>
{%- endif %}

namespace AtProtocolInterface {

{{ class_name }}::{{ class_name }}(QObject *parent)
    : AccessAtProtocol { parent }
{
}

void {{ class_name }}::{{ method_name }}({{ method_args }})
{
{%- if access_type == "get" %}
    QUrlQuery query;
{{ method_query }}

    get(QStringLiteral("xrpc/{{ api_id }}"), query);
{% else %}
    post(QStringLiteral("xrpc/{{ api_id }}"), QByteArray(), true);
{% endif -%}
}

{% for member in members -%}
{% if member.variable_is_array %}
const {{ member.variable_type }} *{{ class_name }}::{{ member.method_getter }}() const
{
    return &{{ member.variable_name }};
}
{% else %}
const {{ member.variable_type }} &{{ class_name }}::{{ member.method_getter }}() const
{
    return {{ member.variable_name }};
}
{% endif -%}
{% endfor %}

bool {{ class_name }}::parseJson(bool success, const QString reply_json)
{
    QJsonDocument json_doc = QJsonDocument::fromJson(reply_json.toUtf8());
    if (json_doc.isEmpty()) {
        success = false;
    } else {
        //setCursor(json_doc.object().value("cursor").toString());
        {% for member in members -%}
        {% if member.variable_is_array -%}
        {% else -%}
        {{ member.copy_method }}(json_doc.object(), {{ member.variable_name }});
    {% endif -%}
    {% endfor -%}
    }

    return success;
}

}
