#include "{{ file_name_lower }}.h"
{%- if has_parent_class == False %}
#include "atprotocol/lexicons_func.h"

#include <QJsonDocument>
#include <QJsonObject>
{%- endif %}
{%- if access_type == "get" %}
#include <QUrlQuery>
{%- endif %}

namespace AtProtocolInterface {

{{ class_name }}::{{ class_name }}(QObject *parent)
    : {{ parent_class_name }} { parent }
{
{% if has_parent_class == True -%}
{% for member in members -%}
{% if member.variable_is_array -%}
    m_listKey = QStringLiteral("{{ member.variable_array_name }}");
{% endif -%}
{% endfor -%}
{% endif -%}
}

void {{ class_name }}::{{ method_name }}({{ method_args }})
{
{%- if access_type == "get" %}
    QUrlQuery query;
{{ method_query }}

    get(QStringLiteral("xrpc/{{ api_id }}"), query);
{% else %}
    post(QStringLiteral("xrpc/{{ api_id }}"), QByteArray(), true);
{% endif -%}
}

{% if has_parent_class == False %}
{% for member in members -%}
{% if member.variable_is_array %}
const QList<{{ member.variable_type }}> *{{ class_name }}::{{ member.method_getter }}() const
{
    return &{{ member.variable_name }};
}
{% else %}
const {{ member.variable_type }} &{{ class_name }}::{{ member.method_getter }}() const
{
    return {{ member.variable_name }};
}
{% endif -%}
{% endfor %}

bool {{ class_name }}::parseJson(bool success, const QString reply_json)
{
    QJsonDocument json_doc = QJsonDocument::fromJson(reply_json.toUtf8());
    if (json_doc.isEmpty()
        {% for member in members -%}
        {% if member.variable_is_array -%}
         || !json_doc.object().contains("{{ member.variable_array_name }}")
    {% endif -%}
    {% endfor -%}
    ) {
        success = false;
    } else {
        {% for member in members -%}
        {% if member.variable_is_array -%}
        for (const auto &value : json_doc.object().value("{{ member.variable_array_name }}").toArray()) {
            {{ member.variable_type }} data;
            {{ member.copy_method }}(value.toObject(), data);
            {{ member.variable_name }}.append(data);
        }
        {% else -%}
        {{ member.copy_method }}(json_doc.object(), {{ member.variable_name }});
    {% endif -%}
    {% endfor -%}
    }

    return success;
}
{% endif %}
}
