<ul>
<li>Version {{ version_no }} ({{ date_time }})
<ul>
<li>Windows : <a href="https://github.com/ioriayane/Hagoromo/releases/download/v{{ version_no }}/hagoromo_{{ version_no }}_windows.zip">hagoromo_{{ version_no }}_windows.zip</a></li>
<li>Ubuntu : <a href="https://github.com/ioriayane/Hagoromo/releases/download/v{{ version_no }}/hagoromo_{{ version_no }}_linux.zip">hagoromo_{{ version_no }}_linux.zip</a></li>
<li>MacOS : <a href="https://github.com/ioriayane/Hagoromo/releases/download/v{{ version_no }}/hagoromo_{{ version_no }}_mac.zip">hagoromo_{{ version_no }}_mac.zip</a></li>
</ul>
</li>
<li><a href="https://github.com/ioriayane/Hagoromo/releases">Other versions</a></li>
</ul>
