<ul>
<li>Version 0.35.0 (2024/09/01)
<ul>
<li>Windows : <a href="https://github.com/ioriayane/Hagoromo/releases/download/v0.35.0/hagoromo_0.35.0_windows.zip">hagoromo_0.35.0_windows.zip</a></li>
<li>Ubuntu : <a href="https://github.com/ioriayane/Hagoromo/releases/download/v0.35.0/hagoromo_0.35.0_linux.zip">hagoromo_0.35.0_linux.zip</a></li>
<li>MacOS : <a href="https://github.com/ioriayane/Hagoromo/releases/download/v0.35.0/hagoromo_0.35.0_mac.zip">hagoromo_0.35.0_mac.zip</a></li>
</ul>
</li>
<li><a href="https://github.com/ioriayane/Hagoromo/releases">Other versions</a></li>
</ul>
